body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: blue;
}

h2 {
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: red;
}

p {
    font-size: 15px;
    font-family: 'Times New Roman', serif;
    color: black;
}
    
