body {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 30px;
    color: blue;
}

h2 {
    font-size: 20px;
    color: red;
}

p {
    font-size: 15px;
    font-family: "Times New Roman", serif;
    color: black;
}
